<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">
          <table class="table content_tab tab-pane clearfix">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-success pull-right"
                        [routerLink]="'/period/new'">
                  <i class="fa fa-plus"></i>Новый
                </button>
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Начало</td>
              <td>Окончание</td>
              <td>Статус</td>
              <td>Изменить</td>
              <td>Расчитать</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let period of periods$ | async; let i=index;" >
              <td>{{period.period_id}}</td>
              <td>{{period.dtfrom}}</td>
              <td>{{period.dtto}}</td>
              <td >{{period.closed}}</td>
              <td>
                <button (click)="toggle(period.period_id)">
                <fa-icon [icon]="fChange"></fa-icon></button>
              </td>
              <td>
                <button (click)="count(period.period_id)">
                  <fa-icon [icon]="fChange"></fa-icon></button>
              </td>
            </tr>
            </tbody>

          </table>
          <p>{{messages}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
