<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">
          <table class="table content_tab tab-pane clearfix edit-ref">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Договор</td>
              <td>Период</td>
              <td>Дебет</td>
              <td>Кредит</td>
              <td>Начальное сальдо</td>
              <td>Конечное сальдо</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let saldo of saldos$ | async" (click)="edit(saldo.saldo_id)">
              <td>{{saldo.saldo_id}}</td>
              <td>{{saldo.contract_id}}</td>
              <td>{{saldo.period_id}}</td>
              <td>{{saldo.debet}}</td>
              <td>{{saldo.credit}}</td>
              <td>{{saldo.openingbalance}}</td>
              <td>{{saldo.closingbalance}}</td>
            </tr>
            </tbody>

          </table>
          <p>{{messages}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

