<div id="wrapper">

  <div id="header">
    <div class="color-line"></div>
    <nav role="navigation" class="header-navigation clearfix">
      <div class="navbar-logo">
        <div class="btn btn-default hide-menu blinking" (click)="toggle()">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="btn btn-default hide-menu blinking">
          <fa-icon [icon]="faLogo"></fa-icon>
           <a > ГСК "Днепровец-2"</a>
        </div>

      </div>

      <div class="navbar-right-btns">
        <ul class="nav navbar-nav no-borders">
          <li>
            <a routerLink="#" routerLinkActive="active" class="label-menu-corner" title="Выход из системы"
               (click)="logout()">
              <fa-icon [icon]="faSignOutAlt"></fa-icon>
            </a>
            <form id="logout-form" action="./home/auth/logout" method="POST"
                  style="display: none;">
              <input type="hidden" name="_token" value=""></form>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="content animate-panel">
    <div class="alerts clearfix">
    </div>
    <button title="Позвонить" type="button"
            class="infoblock_button create_call_btn btn btn-success"
            style="padding: 5px 10px; ">
      <fa-icon [icon]="faPhone"></fa-icon>
    </button>
    <button title="Перемещения" type="button"
            class="infoblock_button btn btn-default" id="move-order">
      <fa-icon [icon]="faRandom"></fa-icon>
    </button>
    <button data-title="Помощь" id="show_glossary" type="button"
            class="infoblock_button show_glossary btn btn-info"
            style="padding: 5px 10px">
      <fa-icon [icon]="faInfo"></fa-icon>
    </button>
    <div id="middle" class="dashboard">
    <!--  <div class="row">
        <div class="col-lg-12 text-center"
             style="z-index: 1">
        </div>
      </div>-->

      <router-outlet></router-outlet>

     <!-- <div class="modal fade chart-comments" id="chart-comments" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">×</span></button>
              <div class="chart-comments-title" title="История изменений">
                События за <span class="chart-comments-date"></span>
              </div>
            </div>
            <div class="modal-body">
              <ul class="chart-comments-list">
              </ul>
              <div class="chart-comments-new">
              </div>
            </div>
          </div>
        </div>
      </div>-->
    </div>
  </div>
</div>
