<form [formGroup]="toolbarForm" (ngSubmit)="onSubmit(toolbarForm.value)" class="form">

<mat-form-field appearance="fill">
  <mat-label>Month and Year</mat-label>
  <input matInput [matDatepicker]="dp" [formControl]="date">
  <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
  <mat-datepicker #dp
                  startView="multi-year"
                  (yearSelected)="chosenYearHandler($event)"
                  (monthSelected)="chosenMonthHandler($event, dp)"
                  panelClass="example-month-picker">
  </mat-datepicker>
</mat-form-field>

<!--<div class="form-group">
  <label for="contracts">Номер договора </label>
  <div>
    <select formControlName="contract_id" id="contracts">
      <option *ngFor="let contract of contracts; let i = index"
              [value]="contracts[i].contract_id">
        {{contracts[i].number}}
      </option>
    </select>
  </div>
</div>-->
  <mat-form-field appearance="fill">
    <mat-label>Номер договора</mat-label>
    <select matNativeControl formControlName="contract_id" id="contracts">
      <option *ngFor="let contract of contracts; let i = index"
              [value]="contracts[i].contract_id">
        {{contracts[i].number}}
    </select>
  </mat-form-field>
<!--  <button type="button" (click)="dateValue()">Click</button>-->
  <button  mat-flat-button color="primary" (click)="dateValue()">Отправить</button>
</form>
