<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">
          <table class="table content_tab tab-pane clearfix">
            <thead>
            <tr>
              <td>Фамилия</td>
              <td>Имя</td>
              <td>Отчество</td>
              <td>Телефон</td>
              <td>Адрес</td>
              <td>Действия</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let person of persons">
              <td>{{person.surname}}</td>
              <td>{{person.name}}</td>
              <td>{{person.second_name}}</td>
              <td>{{person.phone}}</td>
              <td>{{person.address}}</td>
              <td>
                <button
                        routerLink="/person/edit/{{person.person_id}}"
                >
                  <fa-icon [icon]="fEdit"></fa-icon>
                </button>
                <button class="delete" title="delete hero"
                        (click)="delete(person)">
                  <fa-icon [icon]="fTrash"></fa-icon>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



