<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <table class="table content_tab tab-pane   edit-ref">
          <tbody>
          <tr>
            <td>
              <p>Привет!</p>
              <p>
                Это мой pet-проект, идея которого возникла у меня после одной,
                довольно забавной для меня ситуации. Я являюсь членом гаражного
                кооператива и обычно вношу оплату на несколько месяцев вперед.
                И вот однажды я пришел к бухгалтеру с намерением оплатить
                следующие несколько месяцев, думая что у меня еще как минимум один
                месяц оплачен. И вдруг я с огромным удивлением узнаю, что задолжал за 5 месяцев!
                Тогда решил изменить эту ситуацию, пусть пока и виртуально.
              </p>
              <p>
                Этот проект представляет собой простую систему учета оказанных услуг.
                Основная цель текущего этапа, доработать проект до состояния,
                когда членам кооператива будут приходить в telegram напоминания
                о задолженности и у каждого из них будет возможность посмотреть
                состояние своих расчетов в личном кабинете.
                Дальнейшим развитием проекта может стать интеграция проекта с платежными
                сервисами и т.д.
              </p>
              <p>Текущий стек технологий:</p>
              <p>Spring (boot, security, REST)</p>
              <p>PostgreSQL</p>
              <p>Mapstruct</p>
              <p>Lombok</p>
              <p>JWT</p>
              <p>Angular</p>
              <p>JUnit</p>
              <p>Mock</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

