<p> Hi!!!</p>

<div id="search-comp">
<!--  <h4><label for="search-box">Person Search</label></h4>

  <input #searchBox id="search-box"
         (input)="search(searchBox.value)" placeholder="Начните вводить"/>

  <div>
    <select>
      <option *ngFor="let person of persons$ | async"
              [value]="person.person_id" name="person_id">
        {{person.surname}} {{person.name}} {{person.phone}}
      </option>
    </select>
  </div>
  <ul class="search-result">
    <li *ngFor="let person of persons$ | async" >
      <a routerLink="/detail/{{person.person_id}}">
        {{person.name}} {{person.surname}} {{person.phone}}
      </a>
    </li>
  </ul>-->
</div>
