<nav id="menu">
  <div id="navigation">
    <div class="logo-element">
      <span title="User name">CA</span><br>
    </div>

    <div class="profile-picture">
      <img src="../assets/images/default.png" width="79"
           class="img-circle m-b upload_avatar_btn" data-uid="1"
           alt="logo">
      <div class="manager_fail_percent" id="profile-stats-percent">
      </div>
      <div class="stats-label text-color">
        <span class="font-extra-bold font-uppercase">Имя пользователя</span>
        <div class="dropdown">
          <a class="dropdown-toggle" href="./main" data-toggle="dropdown"
             style="color:inherit">
            <small class="text-muted" style="color:inherit">{{roles}}<b class="caret"></b></small>
          </a> <br>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li>
              <a href="./main" id="profile-edit-location">Изменить филиал</a>
            </li>
            <li>
              <a href="./main" id="show-languages-select">Изменить язык</a>
            </li>
            <li>
              <hr class="m-t-xs m-b-xs">
            </li>
            <li>
              <a href="./main">
                Выйти </a>
            </li>
          </ul>
          <div>
            <small class="cursor-pointer js-show-ratings">Рейтинг: 10/10</small>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav" id="side-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a [routerLink]="['/main']">
          <fa-icon [icon]="faChartBar"></fa-icon>
          <span class="nav-label">Главная</span>
        </a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/contract/list']">
          <fa-icon [icon]="faHandShake"></fa-icon>
          <span class="nav-label">Договора</span>
          <span class="arrow">
            <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          </span>
        </a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li routerLinkActive="active">
            <a [routerLink]="['/contract/list']">
              Список </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/contract/new']">
              Новый </a>
          </li>
        </ul>

      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/accountant/cashflow']" routerLinkActive="active">
          <fa-icon [icon]="faMoneyCheckAlt"></fa-icon>
          <span class="nav-label">Бухгалтерия</span>
          <span class="arrow">
            <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          </span>
        </a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li routerLinkActive="active">
            <a [routerLink]="['/accountant/cashflow']">
              Кассы </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/accountant/transaction']">
              Транзакции </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/accountant/income']">
              Доходы </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/accountant/payment/list']">
              Оплаты </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/accountant/paymenttype/list']">
              Виды оплат </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/accountant/paymenttype/list']">
              Новый вид оплаты </a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['/person/list']">
          <fa-icon [icon]="faUser"></fa-icon>
          <span class="nav-label">Клиенты</span>
          <span class="arrow">
            <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          </span>
        </a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li routerLinkActive="active">
            <a [routerLink]="['/person/list']">
              Клиенты </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/person/new']">
              Новый </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/person/edit']">
              Edit </a>
          </li>

        </ul>
      </li>

      <li  class="" routerLinkActive="active">
        <a [routerLink]="['/user']">
          <fa-icon [icon]="faUsers"></fa-icon>
          <span class="nav-label">Сотрудники</span>
          <span class="arrow">
            <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          </span>
        </a>
        <ul class="nav nav-second-level collapse" aria-expanded="false">
          <li routerLinkActive="active">
            <a [routerLink]="['/user']">
              Список пользователей </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/user']">
              Список ролей </a>
          </li>
          <li routerLinkActive="active">
            <a [routerLink]="['/user']">
              Журнал опозданий </a>
          </li>
        </ul>
      </li>

      <li routerLinkActive="active">
        <a [routerLink]="['/other']">
          <fa-icon [icon]="faGear"></fa-icon>
          <span class="nav-label">Еще</span>
          <span class="arrow">
            <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
          </span>
        </a>
        <ul class="nav nav-second-level collapse addition">
          <li routerLinkActive="active">
            <a [routerLink]="['/other']">
              <span class="nav-label">Логистика</span>
              <span class="arrow">
                <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
            </span>
            </a>
            <ul class="nav nav-third-level collapse" aria-expanded="false">
              <li routerLinkActive="active">
                <a [routerLink]="['/other']">
                  Логистика </a>
              </li>
              <li routerLinkActive="active">
                <a data-action="" data-href="#settings" href="./home/logistics#settings">
                  Настройки </a>
              </li>
            </ul>
          </li>
          <li>
            <a href="./home/tasks">
              <span class="nav-label">Задачи</span>
              <span class="arrow">
                <span><fa-icon [icon]="faAngleLeft"></fa-icon></span>
            </span>
            </a>
            <ul class="nav nav-third-level collapse" aria-expanded="false">
              <li>
                <a data-action="" data-href="#alltasks" href="./home/tasks#alltasks">
                  Задачи </a>
              </li>
              <li>
                <a data-action="" data-href="#newtask" href="./home/tasks#newtask">
                  Создать задачу </a>
              </li>
            </ul>
          </li>

          <li>
            <a href="./home/widgets">
              <span class="nav-label">Виджеты</span>
            </a>
          </li>
          <li>
            <a href="./home/import">
              <span class="nav-label">Импорт</span>
            </a>
          </li>
          <li>
            <a href="./home/statistics">
              <span class="nav-label">Статистика</span>
            </a>
          </li>
          <li>
            <a href="./home/settings">
              <span class="nav-label">Настройки</span>
            </a>
          </li>
        </ul>
      </li>


    </ul>
  </div>
</nav>

