<div *ngIf="contract">
          <form [formGroup]="contractEditForm" (ngSubmit)="submit()" id="contract-form-add" class="contract-form-add">
            <div class="row">
              <div class="col-md-6 col-xs-12 js-fields">
                <table class="table table-borderless table-paddingless" id="create-order-fields-table">
                  <tbody>
                  <tr>
                    <td>
                      <input hidden formControlName="contract_id">
                    </td>
                  </tr>
                  <tr>
                    <div class="form-group">
                      <label>Номер договора : </label>
                      <input type="text" formControlName="number"
                             class="form-control"
                             id="number">
                    </div>
                    <div formGroupName="person">
                      <label>Клиент: </label>
                      <p> {{contract.personDTO.surname}} {{contract.personDTO.name}} {{contract.personDTO.second_name}}</p>

                      <p>тел: {{contract.personDTO.phone}}</p>
                      <input type="text" formControlName="surname"
                             id="surname">
                      <input type="text" formControlName="name"
                             id="name">
                    </div>

                    <div class="col-sm-6 form-group">
                      <label>Дата заключения: </label>
                      <input class="form-control" type="date"
                             formControlName="dtfrom"
                      >
                    </div>
                    <div class="col-sm-6 form-group">
                      <label>Дата окончания: </label>
                      <input class="form-control typeahead-double" type="date"
                             formControlName="dtto">
                    </div>
                    <div class="form-group">
                      <label>Входной баланс: </label>
                      <input formControlName="balance" type="text"
                             class="form-control call_code_mask"
                             id="balance-edit">
                    </div>
                    <div class="form-group">
                      <label>Примечание: </label>
                      <input formControlName="note" type="text"
                             class="form-control"
                             id="note_contract">
                    </div>
                  </tr>
                  <tr>
                    <label>Услуги: </label>
                    <div formArrayName="incomes" *ngFor="let income of incomes;
                     let i = index;" class="col-sm-6 form-group">
                      <fieldset>
                        <div [formGroupName]="i">
                          <label>
                            Услуга {{i + 1}}:
                            {{income.contract_id}}
                          </label>
                          <div class="form-group">
                            <label>income_id: </label>
                            <input type="text" formControlName="income_id" placeholder="income_id">
                          </div>
                          <div class="form-group">
                            <label>dtfrom: </label>
                            <input type="date" formControlName="dtfrom" placeholder="dtfrom">
                          </div>
                          <div class="form-group">
                            <label>dtto: </label>
                            <input type="date" formControlName="dtto" placeholder="dtto">
                          </div>
                          <div class="form-group">
                            <label>quantity: </label>
                            <input type="text" formControlName="quantity" placeholder="quantity">
                          </div>
                          <div formGroupName="IncomeType">
                            <input type="text" formControlName="income_type_id" placeholder="income_type_id">
                            <input type="text" formControlName="name" placeholder="name">
                            <input type="text" formControlName="note" placeholder="note">
                            <input type="text" formControlName="sid_external" placeholder="sid_external">
                                <div formGroupName="unitDTO">
                                  <input formControlName="longname" placeholder="longname">
                                  <input formControlName="name" placeholder="name">
                                  <input formControlName="basis" placeholder="basis">
                                  <input formControlName="unit_id" placeholder="unit_id">
                                </div>
                          </div>
                        </div>
                      </fieldset>
                      </div>

                  </tr>

                  <tr>
                    <td>
                      <div class="form-group col-sm-12" id="send-form-buttons" style="padding-left:0">
                        <div class="btn-group dropup col-6 js-request tooltips"
                             title=""                               >
                          <button (click)="goBack()">go back</button>
                          <button (click)="save()">save</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <br>
            </div>
          </form>

        </div>

