<body id="body" [ngClass]="{'mini-navbar': isBigMenu,'': !isBigMenu}">

<app-body></app-body>

<app-wrapper></app-wrapper>

<div id="popup_window" class="modal fade left modal-large" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close popup-window-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- Right sidebar -->

<div id="right-sidebar">
  <div class="sidebar-box">
    <div class="sidebar-box-inner">
      <div class="sidebar-heading well">
        <a class="closebox js_close_sidebar"><i class="fa fa-times"></i></a>
        <div id="right-sidebar-heading"></div>
      </div>
      <div id="right-sidebar-content"></div>
      <div id="right-sidebar-loading" class="right-sidebar-loading"></div>
    </div>
    <div class="right-sidebar-btns">
      <div class="right-sidebar-btns-content" id="right-sidebar-btns"></div>
    </div>
  </div>
  <div class="sidebar-alpha"></div>
</div>

<div id="call-incoming" class="widget" style="display: none"></div>
<div id="request-incoming" class="widget" style="display: none"></div>

<div class="daterangepicker ltr show-ranges opensleft">

  <div class="drp-buttons"><span class="drp-selected"></span>
    <button class="cancelBtn btn btn-sm btn-default" type="button">Отмена</button>
    <button class="applyBtn btn btn-sm btn-success" disabled="disabled" type="button">Применить</button>
  </div>
</div>
