<body id="body" [ngClass]="{'mini-navbar': !isBigMenu,'': isBigMenu}">
<div [ngSwitch]="authority">
  <div *ngSwitchCase="'admin'">
    <app-menu-main></app-menu-main>
    <app-wrapper></app-wrapper>
  </div>
  <div *ngSwitchCase="'accountant'">
    <app-menu-account></app-menu-account>
    <app-wrapper></app-wrapper>
  </div>
  <div *ngSwitchCase="'user'">
    <app-menu-user></app-menu-user>
    <app-wrapper></app-wrapper>
  </div>
  <div *ngSwitchDefault>
    <app-login-page></app-login-page>
  </div>
</div>

<div id="popup_window" class="modal fade left modal-large" style="display: none;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close popup-window-close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-header">
        <h4 class="modal-title"></h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

<!-- Right sidebar -->
<div id="right-sidebar">
  <div class="sidebar-box">
    <div class="sidebar-box-inner">
      <div class="sidebar-heading well">
        <a class="closebox js_close_sidebar"><i class="fa fa-times"></i></a>
        <div id="right-sidebar-heading"></div>
      </div>
      <div id="right-sidebar-content"></div>
      <div id="right-sidebar-loading" class="right-sidebar-loading"></div>
    </div>
    <div class="right-sidebar-btns">
      <div class="right-sidebar-btns-content" id="right-sidebar-btns"></div>
    </div>
  </div>
</div>

</body>



