<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">
          <table class="table content_tab tab-pane clearfix edit-ref">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-success pull-right"
                        [routerLink]="'/accountant/payment/new'"
                ><i class="fa fa-plus"></i> Новый </button>
              </td>
            </tr>
            <tr>
              <td>payment_id</td>
              <td>contract_id</td>
              <td>Дата</td>
              <td>Сумма</td>
              <td>Примечание</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let payment of payments$ | async" (click)="edit(payment.payment_id)">
              <td>{{payment.payment_id}}</td>
              <td>{{payment.contract_id}}</td>
              <td>{{payment.ts}}</td>
              <td>{{payment.amount}}</td>
              <td>{{payment.note}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


