<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">

          <table class="table content_tab tab-pane clearfix edit-ref">
            <thead>
            <tr>
              <td></td>
              <td>
                <button type="button" class="btn btn-success pull-right"
                        [routerLink]="'/accountant/paymenttype/new'">
                  <i class="fa fa-plus"></i>Новый
                </button>
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Название</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paymentType of paymentTypes$ | async" (click)="edit(paymentType.payment_type_id)">
              <td>{{paymentType.payment_type_id}}</td>
              <td>{{paymentType.name}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



