<div *ngIf="visible" id="popup_window" class="modal fade left modal-large in">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <button type="button" class="close popup-window-close"
              (click)="goBack()" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="modal-header">
        <h4 class="modal-title">Ввод нового платежа</h4>
      </div>
      <div class="modal-body">
        <div class="tab-pane" id="repair">
          <form [formGroup]="paymentNewForm" (ngSubmit)="submit()" id="order-form-add" class="order-form-add">
            <div class="row">
              <div class="col-md-6 col-xs-12 js-fields">
                <table class="table table-borderless table-paddingless" id="create-order-fields-table">
                  <tbody>
                  <tr>
                    <div class="form-group">
                      <label for="paymenttypes">Вид оплаты </label>
                      <div>
                        <select formControlName="payment_type_id" id="paymenttypes">
                          <option *ngFor="let paymenttype of paymenttypes; let i = index"
                                  [value]="paymenttypes[i].payment_type_id" >
                            {{paymenttypes[i].name}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <div class="form-group">
                      <label for="contracts">Номер договора </label>
                      <div>
                        <select formControlName="contract_id" id="contracts">
                          <option *ngFor="let contract of contracts; let i = index"
                                  [value]="contracts[i].contract_id">
                            {{contracts[i].number}}
                          </option>
                        </select>
                      </div>
                    </div>
                  </tr>
                  <tr>
                    <td>
                      <div class="row row-5">
                        <div class="col-sm-6 form-group">
                          <label>Дата : </label>
                          <input formControlName="ts" type="date">
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr class="sortable" >
                    <td>
                      <div class="form-group">
                        <label>Сумма: </label>
                        <input formControlName="amount" type="text" name="amount"
                               placeholder="0.00" class="form-control"
                               id="amount">
                      </div>
                    </td>
                  </tr>
                  <tr class="sortable" >
                    <td class="hide-field-td">
                    <td>
                      <div class="form-group">
                        <label>Примечание: </label>
                        <input formControlName="note" type="text" name="note"
                               class="form-control" id="note">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-group col-sm-12" id="send-form-buttons" style="padding-left:0">
                        <div class="btn-group dropup col-6 tooltips">
                          <button class="btn" type="submit">Сохранить</button>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





