<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">
          <table class="table content_tab tab-pane clearfix edit-ref">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-success pull-right"
                        [routerLink]="'/unit/new'">
                  <i class="fa fa-plus"></i>Новый
                </button>
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Название</td>
              <td>Полное название</td>
              <td>basis</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let unit of units$ | async" (click)="edit(unit.unit_id)">
              <td>{{unit.unit_id}}</td>
              <td>{{unit.name}}</td>
              <td>{{unit.longname}}</td>
              <td>{{unit.basis}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
