<div class="tab-content">
<div class="hpanel">
  <div class="row">
    <div class="col-md-12">
      <div class="text-center small">
        <button type="button" class="btn btn-primary-outline pull-right"
                [routerLink]="'/contract/new'"
        ><i class="fa fa-plus"></i> Add</button>
        <table class="table content_tab tab-pane clearfix">
          <thead>
          <tr>
            <td>contract_id</td>
            <td>number</td>
            <td>balance</td>
            <td>dtfrom</td>
            <td>dtto</td>
            <td>note</td>
            <td>Действие</td>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let contract of contracts">
            <td>{{contract.contract_id}}</td>
            <td>{{contract.number}}</td>
            <td>{{contract.balance}}</td>
            <td>{{contract.dtfrom}}</td>
            <td>{{contract.dtto}}</td>
            <td>{{contract.note}}</td>
            <td>
              <button
                      routerLink="/contract/edit/{{contract.contract_id}}">
                <fa-icon [icon]="fEdit"></fa-icon>
              </button>
              <button class="delete" title="delete hero"
                      (click)="delete(contract)">
                <fa-icon [icon]="fTrash"></fa-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
</div>


