<div class="tab-content">
  <div class="hpanel">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center small">
          <table class="table content_tab tab-pane clearfix  edit-ref">
            <thead>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td>
                <button type="button" class="btn btn-success pull-right"
                        [routerLink]="'/incometype/new'"
                ><i class="fa fa-plus"></i> Новый </button>
              </td>
            </tr>
            <tr>
              <td>ID</td>
              <td>Название</td>
              <td>База расчета</td>
              <td>Примечание</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let incometype of incomeTypes$ | async"
                (click)="edit(incometype.incometype_id)">
              <td>{{incometype.incometype_id}}</td>
              <td>{{incometype.name}}</td>
              <td>{{incometype.basis | lowercase}}</td>
              <td>{{incometype.note}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



