
<ul class="nav nav-tabs">
  <li routerLinkActive="active">
    <a class="click_tab default"
       [routerLink]="['/contract/list']" aria-expanded="true">
      Список</a>
  </li>
  <li routerLinkActive="active">
    <a class="click_tab"
       [routerLink]="['/contract/new']" aria-expanded="true">
      Новый<span class="tab_count tc_count hide" id="tc_sum_accountings_orders">0</span>
    </a>
  </li>
  <li routerLinkActive="active">
    <a class="click_tab default"
       [routerLink]="['/contract/toggle']">
      Редактировать </a>
  </li>

</ul>
